@page "/checkout"
@using BlazingPizza.Services
@using BlazingPizza.Shared
@inject OrderState OrderState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="main">
    <EditForm EditContext="editContext" OnValidSubmit="PlaceOrder" OnInvalidSubmit="ShowError">
        <DataAnnotationsValidator />
        <div class="checkout-cols">
            <div class="checkout-order-details">
                <h4>Review order</h4>
                <OrderReview Order="Order" />
            </div>

            <div class="checkout-delivery-address">
                <h4>Deliver to...</h4>
                @if (isError)
                {
                    <div class="alert alert-danger">Please correct the highlighted fields.</div>
                }
                <AddressEditor Address="Order.DeliveryAddress" />
            </div>
        </div>

        <button class="checkout-button btn btn-warning" type="submit" disabled="@isError">
            Place order
        </button>
    </EditForm>
</div>

@code {
    Order Order => OrderState.Order;
    private EditContext editContext = default!;
    bool isError = true;

    protected override void OnInitialized()
    {
        editContext = new EditContext(Order.DeliveryAddress);
        editContext.OnFieldChanged += HandleFieldChanged;
        isError = !editContext.Validate();
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        isError = !editContext.Validate();
        StateHasChanged();
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= HandleFieldChanged;
    }

    async Task PlaceOrder()
    {
        isError = false;
        var response = await HttpClient.PostAsJsonAsync(NavigationManager.BaseUri + "orders", OrderState.Order);
        var newOrderId = await response.Content.ReadFromJsonAsync<int>();
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{newOrderId}");
    }

    void ShowError()
    {
        isError = true;
    }
}